---
title: About
hero: About
---

<div class="editable">
	<h3><a href="http://regymm.github.io/MyBlog/about/">About me</a></h3>
	<p> <a href="https://twitter.com/regymm0">Twitter</a> &nbsp; <a href="http://regymm.github.io">Homepage</a> &nbsp; <a href="http://github.com/regymm">GitHub</a> </p>
	<h3>Things you should know before...</h3>
	<i>TLDR: You shouldn't expect too much from a random folk on the Internet. </i>
	<p>- Refurbished/Scavenged/Unknown-source-d chips are used in order to provide such a cheap price. Though I'll certainly test everything and have never seen a good chip going bad so far(only ones that come as bad), reliability won't be as good as other well-designed products. So don't have too high an expectation. </p>
	<p>- All board contains lead(Pb), so at least wash your hand after touching solder joints, and dispose according to local regulations. </p>
	<p>- Details of the product may not be well controlled, including but not limited to how many components are soldered on board(as long as guaranteed functionality), shape and color of board, types of the small bridge boards, visible scratches and wounds(again, as long as it works), and some manually soldered components(my PCB files are too crappy to be properly SMT-ed). But I'll send a picture of what will be shipped. </p>
	<h4 style="color:#666">To people of interest in China</h4>
	<p>Letting the product shipped from China then back just isn't cost-effective(and probably makes it less competitive than other available alternatives), You can of course purchase now, but later if I can somehow do testings in China, there could potentially be a decent discount. So I recommend waiting for now. </p>
	<h4 style="color:#666">To people of interest in Japan</h4>
	<p>More payment options might be available, which may have a mild discount. </p>
<!--</div>-->

<!--<div class="editable">-->
	<h3>Order</h3>
	<p>In pre-release stage, please follow updates on my <a href="https://twitter.com/regymm0">Twitter</a>. Send me a personal message on Twitter or email me at <code>ustcymgu at gmail dot com</code> for inqueries.</p>
	<p>I'll be open to any custom requests(want another antenna or some custom connectors?). </p>
	<p class="editable"><a href="mailto:ustcymgu@gmail.com?subject=Purchase%20from%20regymm%27s%20toy%20shop&body=Hi%20regymm%2C%20%0A%0AI%20would%20like%20to%20purchase%20...%20with%20...%20%0A%0AYour%20Name" target="_blank"><b>Place an order by email!</b></a></p>
	<!--<p>Please send my an email with the things you want to buy and your custom requests. I'll reply after confirming the stock and requests. Then </p>-->
	<h3>Payment</h3>
	<p>TBD. Paypal, Wise, USDT, and XMR(currently no surcharge, later may have 5%) might be considered at this stage. </p>
	<h3>Shipping</h3>
	<p>Free shipping unless specially pointed out. Will send by normal airmail(5-8 days to U.S. as they assumed) in principle.</p>
	<p>Again, if you have any problems/requests, we can talk.</p>
</div>

<!--<p class="editor-link" style="text-align: center; position: relative;-->
    <!--top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>-->
<!--<ul class="staff">-->
	<!--{% for person in site.staff_members %}-->
		<!--<li>-->
			<!--<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>-->
			<!--<div class="name">{{ person.name }}</div>-->
		<!--</li>-->
	<!--{% endfor %}-->
<!--</ul>-->

<!--<div class="thirds story-points">-->
	<!--<div>-->
		<!--<h3 class="editable">Passion</h3>-->
		<!--<p class="editable">What more could you want from life than drawing animals and bringing happiness to others? We hope this passion show through in our work.</p>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h3 class="editable">Animal</h3>-->
		<!--<p class="editable">It's easy to forget that we're all part of the animal kingdom. Fur is a brand that helps you get in touch with your inner animal.</p>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h3 class="editable">Style</h3>-->
		<!--<p class="editable">We like to keep things plain and simple around here to help the animals speak for themselves.</p>-->
	<!--</div>-->
<!--</div>-->
